

/*----------------------------FOOTER--------------------------*/

.site
  display: flex
  min-height: 100vh
  flex-direction: column

.content
  flex: 1

.sticky_footer
  position: relative
  display: flex
  flex-flow: row nowrap
  justify-content: center
  align-items: center
  background-color: $main-color
  padding: 3em
  color: rgba(255,255,255,1)
  a 
    color: rgba(255,255,255,.7)
    &:hover
      color: rgba(255,255,255,1)
  .copyright
    p.copyright_text
      text-align: center
      font-weight: 100
      line-height: 1.25em
  .sm_footer
    .sm_footer_list
      display: flex 
      justify-content: flex-start
      font-size: 1.2em
      margin-left: .65em
      li
        padding-right: .8em
        &:last-child
          padding-right: 0
  img.gold_laus
    position: absolute
    bottom: 0
    right: 2em
    height: 7.3em
    width: auto
  
  .footer_logo
    font-family: 'dana-expanded'
    padding-right: .8em
    color: rgba(255,255,255,.7)
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.15)
  
  .footer_logo:hover
    color: rgba(255,255,255,1)


@media (max-width: 1024px)

  .sticky_footer
    flex-direction: column
    .sm_footer
      .sm_footer_list
        margin-top: .5em
        .hide_media
          display: none
    img.gold_laus
      right: 1em
      height: 9em


@media (max-width: 998px)

  .sticky_footer
    padding: 3em 11em
    img.gold_laus
      //bottom: 1.3em
      height: 10.5em


@media (max-width: 710px)

  .sticky_footer
    img.gold_laus
      //bottom: 1.3em
      height: 11.5em


@media (max-width: 595px)

  .sticky_footer
    padding: 3em 9em 3em 4.5em
    align-items: flex-end
    .copyright 
      p.copyright_text
        text-align: left
    img.gold_laus
      right: -.1em


@media (max-width: 475px)

  .sticky_footer
    align-items: flex-start
    padding: 2em 8.5em 2em 3.5em
    .sm_footer
      .sm_footer_list
        margin-left: 0
    img.gold_laus
      height: 10.7em



@media (max-width: 320px)

  .sticky_footer
    font-size: .8em



