
# Created by https://www.toptal.com/developers/gitignore/api/visualstudiocode,macOs,sass
# Edit at https://www.toptal.com/developers/gitignore?templates=visualstudiocode,macOs,sass

### macOS ###
# General
.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

### Sass ###
.sass-cache/
*.css.map
*.sass.map
*.scss.map

### VisualStudioCode ###
.vscode/*
!.vscode/tasks.json
!.vscode/launch.json
*.code-workspace

### VisualStudioCode Patch ###
# Ignore all local history of files
.history
.ionide

# End of https://www.toptal.com/developers/gitignore/api/visualstudiocode,macOs,sass